<div style="display: flex; flex-direction: column; column-gap: 5px; flex-flow: wrap;">
    <div *ngFor="let product of products" style="width: 500px; border: solid; margin: 5px; padding: 5px;">
        <div style="text-align: center; width: 500px; height: 500px;">
        <img src={{product.pictureUrl}} alt="iphone 12"/>
        </div> 
        <p style="font-size: larger;">Product : {{product.name}}</p>
        <p style="font-size: larger;">Color: {{product.specifications.color}}</p>
        <p style="font-size: larger;">Weight: {{product.specifications.weight}}</p>
        <p style="font-size: larger;">Storage: {{product.specifications.storage}}</p>
        <p style="font-size: 40px">Price : {{product.specifications.price}}</p>
         <button type="button" (click)="addInCart(product)">Add to cart</button>
    </div>
</div>
